# Pandas

NumPy creates ndarrays that must contain values that are of the same data type.

Pandas creates dataframes. Each column in a dataframe is an ndarray. This allows us to have traditional tables of data where each column can be a different data type.

In [1]:
import numpy as np
import pandas as pd

The basic data structure in pandas is the *series*. You can construct it in a similar fashion to making a numpy array.

The command to make a Series object is

`pd.Series(data, index=index)`

the `index` argument is optional

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data)
print(type(data))

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

The series is printed out in a table form.

The type is a Pandas Series

In [3]:
print(data.values)
print(type(data.values))

[0.25 0.5  0.75 1.  ]
<class 'numpy.ndarray'>

The values attribute of the series is a numpy array.

In [4]:
print(data.index)
print(type(data.index))  # the row names are known as the index

RangeIndex(start=0, stop=4, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

You can subset a pandas series like other python objects

In [5]:
print(data[1])
print(type(data[1]))  # when you select only one value, it simplifies the object

0.5
<class 'numpy.float64'>

In [6]:
print(data[1:3])
print(type(data[1:3]))  # selecting multiple values returns a series

1    0.50
2    0.75
dtype: float64
<class 'pandas.core.series.Series'>

In [7]:
print(data[np.array([1,0,2])])  # fancy indexing using a numpy array

1    0.50
0    0.25
2    0.75
dtype: float64

In [8]:
# specifying the index values
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data[1]  # subset with index position

0.5

In [10]:
data["a"]  # subset with index names

0.25

In [11]:
data["a":"c"] # using names includes the last value

a    0.25
b    0.50
c    0.75
dtype: float64

In [12]:
data[0:2]  # slicing behavior is unchanged

a    0.25
b    0.50
dtype: float64

In [13]:
# creating a series from a python dictionary
# remember, dictionary construction uses curly braces {}
samp_dict = {'Archie': 71,
             'Betty': 66,
             'Veronica': 62,
             'Jughead': 72,
             'Cheryl': 66}
samp_series = pd.Series(samp_dict)
samp_series # the series gets alphabetized by its index

Archie      71
Betty       66
Cheryl      66
Jughead     72
Veronica    62
dtype: int64

In [14]:
print(samp_series.index)

Index(['Archie', 'Betty', 'Cheryl', 'Jughead', 'Veronica'], dtype='object')

In [15]:
print(type(samp_dict))
print(type(samp_series))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [16]:
actor_dict = {'Archie': "KJ",
              'Jughead': "Cole",
              'Betty': "Lili",
              'Veronica': "Camila",
              'Cheryl': "Madelaine"}  # note that the dictionary order is not same here
actor = pd.Series(actor_dict)  # still get alphabetized by index
print(actor)

Archie             KJ
Betty            Lili
Cheryl      Madelaine
Jughead          Cole
Veronica       Camila
dtype: object

# Creating a DataFrame

In [17]:
# we create a dataframe by providing a dictionary of series objects
riverdale = pd.DataFrame({'height': samp_series,
                       'actor': actor})  

print(riverdale)

              actor  height
Archie           KJ      71
Betty          Lili      66
Cheryl    Madelaine      66
Jughead        Cole      72
Veronica     Camila      62

In [18]:
print(type(riverdale))  # this is a DataFrame object

<class 'pandas.core.frame.DataFrame'>

In [19]:
data = [{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 5}]  # data is a list of dictionaries
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 5}]

In [20]:
print(pd.DataFrame(data, index = [1,2,3]))

   a  b
1  0  0
2  1  2
3  2  5

In [32]:
data = [{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'c': 5}]  # data is a list of dictionaries
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'c': 5}]

In [33]:
print(pd.DataFrame(data))

   a    b    c
0  0  0.0  NaN
1  1  2.0  NaN
2  2  NaN  5.0

In [34]:
data = [{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'c': "5"}]  # data is a list of dictionaries
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'c': '5'}]

In [35]:
print(pd.DataFrame(data))

   a    b    c
0  0  0.0  NaN
1  1  2.0  NaN
2  2  NaN    5

In [21]:
data = np.random.randint(10, size = 10).reshape([5,2])
print(data)

[[0 0]
 [5 2]
 [4 2]
 [1 9]
 [9 9]]

In [22]:
print(pd.DataFrame(data, columns = ["x","y"], index = ['a','b','c','d','e']))

   x  y
a  0  0
b  5  2
c  4  2
d  1  9
e  9  9

# Subsetting the DataFrame

In [23]:
print(riverdale)

              actor  height
Archie           KJ      71
Betty          Lili      66
Cheryl    Madelaine      66
Jughead        Cole      72
Veronica     Camila      62

In [24]:
print(riverdale.keys())

Index(['actor', 'height'], dtype='object')

In [25]:
riverdale['actor']  # extracting the column

Archie             KJ
Betty            Lili
Cheryl      Madelaine
Jughead          Cole
Veronica       Camila
Name: actor, dtype: object

In [26]:
riverdale.actor

Archie             KJ
Betty            Lili
Cheryl      Madelaine
Jughead          Cole
Veronica       Camila
Name: actor, dtype: object

In [27]:
riverdale.actor[1]

'Lili'

In [28]:
riverdale.actor['Jughead']

'Cole'

In [50]:
print(riverdale.T)  # prints a copy of the transpose

       Archie Betty     Cheryl Jughead Veronica
actor      KJ  Lili  Madelaine    Cole   Camila
height     71    66         66      72       62

In [56]:
print(riverdale.loc['Jughead']) # subset based on location to get a row
print(type(riverdale.loc['Jughead']))

actor     Cole
height      72
Name: Jughead, dtype: object
<class 'pandas.core.series.Series'>

In [59]:
print(riverdale.loc[:,'height']) # subset based on location to get a column
print(type(riverdale.loc[:,'height']))

Archie      71
Betty       66
Cheryl      66
Jughead     72
Veronica    62
Name: height, dtype: int64
<class 'pandas.core.series.Series'>

In [46]:
riverdale.loc['Archie','height']  # you can provide a pair of 'coordinates' to get a particular value

71

In [45]:
riverdale.iloc[3,] # subset based on index location

actor     Cole
height      72
Name: Jughead, dtype: object

In [47]:
riverdale.iloc[0, 1] # pair of coordinates

71